<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background: #f8f9fa;
            padding-top: 56px;
        }

        .border-left-blue {
            border-left: 4px solid #007bff;
        }

        .border-left-gray {
            border-left: 4px solid #6c757d;
        }

        .text-blue {
            color: #007bff;
        }

        .text-gray {
            color: #6c757d;
        }

        .container {
            max-width: 1600px;
            width: 100%;
        }
        .ftco-section {
            margin-top: 250px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            HomePricePredictor
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Hakkında</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sss.html">SSS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="bg-white p-4 rounded shadow-lg py-5">
                    <h4 class="text-center text-uppercase font-weight-bold text-blue">SSS</h4>
                    <p class="text-center text-muted mt-2">Sıkça Sorulan Sorular</p>
                    <div class="mt-5">
                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">HomePricePredictor nasıl çalışır?</span>
                                </div>
                                <div class="py-3">
                                    <span class="text-muted">HomePricePredictor, makine öğrenimi algoritmalarını kullanarak İstanbul Bahçelievler ilçesindeki konut fiyatlarını tahmin eder. Kullanıcılar, oda sayısı, bina yaşı ve mahalle bilgilerini girerek tahmini konut fiyatlarını öğrenebilirler.</span>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">Neden sadece Bahçelievler ilçesi üzerine çalışıyorsunuz?</span>
                                </div>
                                <div class="py-3">
                                    <span class="text-muted">Şu anda modelimizi test ediyor ve geliştiriyoruz. Başlangıç aşamasında belirli bir bölgeye odaklanarak doğruluk oranını artırmayı hedefledik. Gelecekte, hizmetimizi İstanbul'un diğer ilçelerine ve farklı şehirlere genişletmeyi planlıyoruz.</span>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">HomePricePredictor kullanmak için üyelik gerekiyor mu?</span>
                                </div>
                                <div class="py-3 mt-3">
                                    <span class="text-muted">Hayır, HomePricePredictor kullanmak için üyelik gerekmiyor. Sadece gerekli bilgileri girerek tahmini konut fiyatını öğrenebilirsiniz.</span>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">Konut fiyatlarını tahmin ederken hangi faktörler dikkate alınıyor?</span>
                                </div>
                                <div class="py-3 mt-3">
                                    <span class="text-muted">Konut fiyatlarını tahmin ederken oda sayısı, bina yaşı ve mahalle bilgileri dikkate alınıyor. Gelecekte modelimizi daha da geliştirerek daha fazla faktörü eklemeyi planlıyoruz.</span>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">Tahminleriniz ne kadar doğru?</span>
                                </div>
                                <div class="py-3">
                                    <span class="text-muted">Tahminlerimiz, mevcut veriler ve kullanılan model doğrultusunda yüksek doğruluk oranına sahiptir. Ancak, emlak piyasasındaki değişkenlikler ve bireysel farklılıklar nedeniyle kesin sonuçlar garanti edilemez.</span>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 d-flex">
                            <div class="mr-3">
                                <div class="border-left-blue py-3">
                                    <span class="text-blue h2 px-3">S.</span>
                                </div>
                                <div class="border-left-gray py-3">
                                    <span class="text-gray h2 px-3">C.</span>
                                </div>
                            </div>
                            <div>
                                <div class="py-3">
                                    <span class="h5 text-blue font-weight-bold">HomePricePredictor'ı nasıl kullanabilirim?</span>
                                </div>
                                <div class="py-3">
                                    <span class="text-muted">Ana sayfada oda sayısı, bina yaşı ve mahalle bilgilerini seçerek ve alan bilgisini girerek tahmini konut fiyatını anında öğrenebilirsiniz. Alan bilgisi brüt metrekare üzerinden hesaplanır ve en az 40 en fazla 220 sayısını girmelisiniz.</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
